<?xml version=”1.0" encoding=”UTF-8"?>
 <!DOCTYPE plist PUBLIC “-//Apple//DTD PLIST 1.0//EN” “http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version=”1.0">
 <dict>
 <key>method</key>
 <string>app-store</string>
 <key>teamID</key>
 <string>ZNE622G954</string>
 <key>signingStyle</key>
 <string>manual</string>
 <key>provisioningProfiles</key>
 <dict>
 <key>com.primeholding.bookingAppSample</key>
 <string>0fa573a5-05ad-458b-b203-68b511aef2b9</string>
 </dict>
 </dict>
</plist>
