@keyframes slide-up {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 1rem;
  }
}

.snackbar-wrapper {
  position: fixed;
  left: 1rem;
  right: 1rem;
  z-index: 999;
  animation: slide-up 0.5s ease-out forwards;
  .snackbar {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    line-height: 1rem;
    border-radius: 6px;
    background-color: var(--snackbar-info-bg);
    color: var(--snackbar-info-fg);
  }
}
