#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-staging.xcconfig"
#include "Generated.xcconfig"

FLUTTER_BUILD_MODE=debug
ENVIRONMENT_PLIST = environments/sit/sit.plist
APP_DISPLAY_NAME = Booking App SIT
bundle_suffix=.sit
CF_BUNDLE_URL_NAME=booking_app.sit.primeholding.com
CF_BUNDLE_URL_SCHEME=primeholdingsitscheme
FB_APP_ID=
FB_CLIENT_TOKEN=
FB_APP_NAME=
GOOGLE_REVERSED_CLIENT_ID=

