name: {{project_name}}
description: A new Flutter project.
homepage: https://{{organization_name}}.{{domain_name}}
version: 1.0.0+1

environment:
  sdk: '>=3.0.5 <4.0.0'
  flutter: '>=3.13.0 <4.0.0'

dependencies: {{#enable_dev_menu}}
  alice: ^0.3.3 {{/enable_dev_menu}}
  collection: ^1.17.2{{#enable_auth_matrix}}
  copy_with_extension: ^5.0.3{{/enable_auth_matrix}}{{#enable_pin_code}}
  crypto: ^3.0.3{{/enable_pin_code}}
  cupertino_icons: ^1.0.6
  dio: ^5.3.3
  equatable: ^2.0.5{{#analytics}}
  firebase_analytics: ^10.5.1{{/analytics}}{{#uses_firebase}}
  firebase_core: ^2.17.0{{/uses_firebase}}{{#push_notifications}}
  firebase_messaging: ^14.6.9{{/push_notifications}}
  flutter:
    sdk: flutter{{#enable_social_logins}}
  flutter_facebook_auth: ^6.0.2{{/enable_social_logins}}
  flutter_local_notifications: ^15.1.1
  flutter_localizations:
    sdk: flutter
  flutter_rx_bloc: ^6.0.0
  flutter_secure_storage: ^9.0.0{{#enable_social_logins}}
  flutter_svg: ^2.0.7{{/enable_social_logins}}
  go_router: ^11.1.2
  golden_toolkit: ^0.15.0{{#enable_social_logins}}
  google_sign_in: ^6.1.5{{/enable_social_logins}}
  http: ^1.1.0 # This package is used for the local server (if not used, can be removed)
  jaguar_jwt: ^3.0.0 # This package is used for the local server (if not used, can be removed)
  json_annotation: ^4.8.1
  jwt_decoder: ^2.0.1{{#enable_pin_code}}
  local_session_timeout: ^2.3.0{{/enable_pin_code}}
  provider: ^6.0.5
  retrofit: ^4.0.2
  rx_bloc: ^5.0.0
  rx_bloc_list: ^4.0.0
  rxdart: ^0.27.7
  shared_preferences: ^2.2.1
  shelf: ^1.4.1 # This package is used for the local server (if not used, can be removed)
  shelf_router: ^1.1.4 # This package is used for the local server (if not used, can be removed)
  shelf_static: ^1.1.2 # This package is used for the local server (if not used, can be removed){{#enable_social_logins}}
  sign_in_with_apple: ^5.0.0{{/enable_social_logins}}{{#enable_auth_matrix}}
  uuid: ^3.0.7{{/enable_auth_matrix}}
  widget_toolkit: ^0.0.2-dev.1 {{#enable_pin_code}}
  widget_toolkit_biometrics: ^0.0.2-dev.1 {{/enable_pin_code}} {{#enable_feature_otp}}
  widget_toolkit_otp: ^0.0.2-dev.2{{/enable_feature_otp}}{{#enable_pin_code}}
  widget_toolkit_pin: ^0.0.2-dev.4{{/enable_pin_code}}

dev_dependencies:
  build_runner: ^2.4.6{{#enable_auth_matrix}}
  copy_with_extension_gen: ^5.0.3{{/enable_auth_matrix}}
  # flutter_driver:
  #   sdk: flutter
  flutter_lints: any
  flutter_test:
    sdk: flutter
  go_router_builder: ^2.3.2
  json_serializable: ^6.7.1
  mockito: ^5.4.2 {{#enable_patrol}}
  patrol: ^2.2.2 {{/enable_patrol}}
  r_flutter: 0.9.0
  retrofit_generator: ^7.0.8
  rx_bloc_generator: ^7.0.0
  rx_bloc_test: ^4.0.0
  test: any {{#enable_patrol}}

patrol:
  app_name: {{project_name}}
  flavor: development
  android:
    package_name: {{domain_name}}.{{organization_name}}.{{project_name}}
  ios:
    bundle_id: {{domain_name}}.{{organization_name}}.{{project_name}}
    app_name: {{project_name}} {{/enable_patrol}}


  {{#enable_dev_menu}}
dependency_overrides:
  alice:
    git:
      url: https://github.com/Prime-Holding/alice.git
      ref: master
{{/enable_dev_menu}}

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/fonts/
  fonts:
    - family: WorkSans
      fonts:
        - asset: assets/fonts/WorkSans/WorkSans-Light.ttf
          weight: 300
        - asset: assets/fonts/WorkSans/WorkSans-Regular.ttf
          weight: 400
        - asset: assets/fonts/WorkSans/WorkSans-Medium.ttf
          weight: 500

r_flutter:
  intl: lib/l10n/arb/en.arb
  intl_features:
    - name: error{{#enable_auth_matrix}}
    - name: feature_auth_matrix{{/enable_auth_matrix}}{{#enable_feature_counter}}
    - name: feature_counter{{/enable_feature_counter}}{{#enable_feature_deeplinks}}
    - name: feature_deep_link
    - name: feature_enter_message{{/enable_feature_deeplinks}}{{#has_authentication}}
    - name: feature_login{{/has_authentication}}
    - name: feature_notifications{{#enable_feature_otp}}
    - name: feature_otp{{/enable_feature_otp}}
    - name: feature_profile{{#enable_feature_widget_toolkit}}
    - name: feature_widget_toolkit{{/enable_feature_widget_toolkit}}
    - name: field {{#enable_change_language}}
    - name: lib_change_language{{/enable_change_language}}{{#enable_dev_menu}}
    - name: lib_dev_menu{{/enable_dev_menu}}{{#enable_pin_code}}
    - name: lib_pin_code{{/enable_pin_code}}
    - name: lib_router
