name: {{project_name}}
description: A new Flutter project.
homepage: https://{{organization_name}}.{{domain_name}}
version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  auto_route: ^2.4.0
  cupertino_icons: ^1.0.3
  dio: ^4.0.0{{#analytics}}
  firebase_analytics: ^8.3.2{{/analytics}}{{#uses_firebase}}
  firebase_core: ^1.6.0{{/uses_firebase}}{{#push_notifications}}
  firebase_messaging: ^10.0.7{{/push_notifications}}
  flutter:
    sdk: flutter
  flutter_local_notifications: ^8.2.0
  flutter_localizations:
    sdk: flutter
  flutter_rx_bloc: ^3.2.0
  flutter_secure_storage: ^4.2.1
  golden_toolkit: ^0.10.0
  intl: ^0.17.0
  json_annotation: ^4.1.0
  json_serializable: ^4.1.4
  provider: ^5.0.0
  retrofit: ^2.0.1
  rx_bloc: ^3.1.0
  rx_bloc_list: ^3.0.0
  rxdart: ^0.27.2
  shared_preferences: ^2.0.8

  # Only for testing purposes
  shelf: ^1.2.0
  shelf_router: ^1.1.1
  shelf_static: ^1.1.0

dev_dependencies:
  auto_route_generator: ^2.1.0
  build_runner: ^2.1.2
  # flutter_driver:
  #   sdk: flutter
  flutter_test:
    sdk: flutter
  mockito: ^5.0.15
  retrofit_generator: ^2.0.1
  rx_bloc_generator: ^5.0.0
  rx_bloc_test: ^3.0.0
  test: any

  # Only for testing purposes (such as in the local server)
  http: ^0.13.3

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/images/

  fonts:
    - family: WorkSans
      fonts:
        - asset: fonts/WorkSans/WorkSans-Light.ttf
          weight: 300
        - asset: fonts/WorkSans/WorkSans-Regular.ttf
          weight: 400
        - asset: fonts/WorkSans/WorkSans-Medium.ttf
          weight: 500
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700

