name: {{project_name}}
description: A new Flutter project.
homepage: https://{{organization_name}}.{{domain_name}}
version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  auto_route: ^2.2.0
  cupertino_icons: ^1.0.2
  dio: ^4.0.0{{#analytics}}
  firebase_analytics: ^8.1.0{{/analytics}}{{#uses_firebase}}
  firebase_core: ^1.2.0{{/uses_firebase}}{{#push_notifications}}
  firebase_messaging: ^10.0.0{{/push_notifications}}
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_rx_bloc: ^3.0.0
  json_annotation: ^4.0.1
  json_serializable: ^4.1.2
  intl: ^0.17.0
  provider: ^5.0.0
  retrofit: ^2.0.0
  rx_bloc: ^3.0.0
  rxdart: ^0.27.0

dev_dependencies:
  auto_route_generator: ^2.1.0
  build_runner: ^2.0.3
  # flutter_driver:
  #   sdk: flutter
  flutter_test:
    sdk: flutter
  mockito: ^5.0.8
  retrofit_generator: ^2.0.0
  rx_bloc_generator: ^5.0.0
  rx_bloc_test: ^3.0.0
  test: any

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/images/

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700

