{
	"endOfLine": "auto",
	"printWidth": 90,
	"endOfLine": "auto",
	"arrowParens": "always",
	"useTabs": true,
	"semi": true,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true
}
