<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240744827211-35ahf1krnqboakqkc54t5lpeivhkat4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240744827211-35ahf1krnqboakqkc54t5lpeivhkat4t</string>
	<key>API_KEY</key>
	<string>AIzaSyAcP-yneXMbZKlnpdrxDvDnr3S8amFXxAI</string>
	<key>GCM_SENDER_ID</key>
	<string>240744827211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.primeholding.bookingApp</string>
	<key>PROJECT_ID</key>
	<string>booking-2c3df</string>
	<key>STORAGE_BUCKET</key>
	<string>booking-2c3df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240744827211:ios:424474e9ef8b43dc6bc0ce</string>
</dict>
</plist>