<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056541510858-19j0al59ngdf8qcv4dfb2e0ujjshtdl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056541510858-19j0al59ngdf8qcv4dfb2e0ujjshtdl2</string>
	<key>API_KEY</key>
	<string>AIzaSyCub5qrUdiHUhE5hKwvvF0zJ2nxOcFM5Mo</string>
	<key>GCM_SENDER_ID</key>
	<string>1056541510858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reminders.stag</string>
	<key>PROJECT_ID</key>
	<string>reminders-app-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>reminders-app-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056541510858:ios:36b611bab91188d62c7833</string>
</dict>
</plist>