.floating-action-button {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  box-shadow: 0 0 1px 1px var(--primary) /* Antialiasing */,  2px 2px 5px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: background 0.2s;
  color: var(--light);

  &:hover {
    background-color: var(--primary-hover);
  }
}
