.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .headers {
    margin-bottom: 1rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    button {
      width: 100%;
      max-width: 400px;
      padding: 1rem 0.75rem 0.95rem;
      border-radius: 1rem;
      border: 1px solid;
      font-size: 1rem;
      &:hover {
        cursor: pointer;
        opacity: 0.75;
      }
    }
    .login-anon {
      color: var(--gray);
      border-color: var(--gray);
    }
    .login-facebook {
      color: var(--primary);
      border-color: var(--primary);
    }
  }

  .login-loader {
    align-self: center;
    margin-top: 1rem;
    visibility: hidden;
    &.visible {
      visibility: visible;
    }
  }
}
