import '../../helpers/golden_helper.dart';
import '../factory/${bloc_snake_case}_factory.dart';


void main() {
  runGoldenTests([
    buildScenario(
      scenario:  '${bloc_snake_case}_empty',
      widget: ${bloc_field_case}Factory(),
    ),
    buildScenario(
      scenario:  '${bloc_snake_case}_success',
      widget: ${bloc_field_case}Factory(),
    ),
    buildScenario(
      scenario:  '${bloc_snake_case}_loading',
      widget: ${bloc_field_case}Factory(),
    ),
    buildScenario(
      scenario:  '${bloc_snake_case}_error',
      widget: ${bloc_field_case}Factory(),
    ),
  ]);
}