import 'package:flutter_test/flutter_test.dart';
import 'package:mockito/annotations.dart';
import 'package:mockito/mockito.dart';
import 'package:${project_name}/${bloc_folder_prefix}_${bloc_snake_case}/blocs/${bloc_snake_case}_bloc.dart';
import 'package:rx_bloc_test/rx_bloc_test.dart';
import '${bloc_snake_case}_test.mocks.dart';
${imports_from_bloc_constructor}
${imports_from_bloc_states}

${bloc_initialization_fields_mocks}
void main() {
${late_bloc_initialization_fields}
  void _defineWhen(/*value*/) {
     /*
            //Sample mock during a test case
            when(repository.fetchPage()).thenAnswer((_) async => value);
      */
  }

  ${bloc_pascal_case}Bloc ${bloc_field_case}Bloc() => ${bloc_pascal_case}Bloc(
${_bloc_initialization_fields_list});
  setUp(() {
  ${initiate_bloc_initialization_fields}
  });

    ${test_rxbloc_state_group}
}