import 'package:flutter/material.dart';
import 'package:flutter_rx_bloc/flutter_rx_bloc.dart';
import 'package:provider/provider.dart';
${import_bloc_file}
${import_bloc_page_file}
import '../mock/${bloc_snake_case}_mock.dart';
${imports_from_bloc_states}

/// Change the parameters according the the needs of the test
Widget ${bloc_field_case}Factory({
${states_as_optional_parameter}}) =>
    Scaffold(
      body: MultiProvider(providers: [
        RxBlocProvider<${bloc_pascal_case}BlocType>.value(
          value: ${bloc_field_case}MockFactory(
${states_as_passing_named_parameters}
          ),
        ),
      ], child: const ${bloc_pascal_case}Page()),
    );
