import 'package:flutter_test/flutter_test.dart';
import 'package:mockito/annotations.dart';
import 'package:mockito/mockito.dart';
import 'package:${project_name}/${bloc_folder_prefix}_${bloc_snake_case}/blocs/${bloc_snake_case}_bloc.dart';
import 'package:rx_bloc_test/rx_bloc_test.dart';
import '${bloc_snake_case}_test.mocks.dart';
import 'package:rxdart/rxdart.dart';

//import '../../base/Stubs.dart';

@GenerateMocks([])
void main() {

  setUp(() {
  });

    ${test_rxbloc_state_group}
}

${bloc_pascal_case}Bloc ${bloc_field_case}Bloc() => ${bloc_pascal_case}Bloc();//application/bloc specific parameters
