class CounterScreen extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return Scaffold(
      body: Center(
        child: RxBlocBuilder<SubjectBloc, SubjectState>(
          state: (bloc) => bloc.state.specificState
          builder: (context, state, bloc) {
            return Text('Example');
          },
        ),
      ),
    );
  }
}