name: booking_app
description: A new Flutter project.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: '>=3.0.5 <4.0.0'

dependencies:
  animated_stream_list:
  appbar_textfield: ^1.0.1+1
  badges: ^3.1.1
  collection: ^1.17.1
  cupertino_icons: ^1.0.0
  curved_navigation_bar: ^1.0.3
  equatable: ^2.0.0
  favorites_advanced_base:
    path: ../favorites_advanced/favorites_advanced_base
  flutter:
    sdk: flutter
  flutter_rx_bloc:
  go_router: ^9.0.3
  image_picker: ^1.0.1
  intl: ^0.18.1
  provider: ^6.0.0
  rflutter_alert: ^2.0.7
  rx_bloc:
  rx_bloc_list:
  rxdart: ^0.27.0

dev_dependencies:
  build_runner: ^2.0.0
  clean_coverage: ^0.0.3
  flutter_lints: any
  flutter_test:
    sdk: flutter
  go_router_builder: ^2.2.0
  golden_toolkit: ^0.15.0
  mockito: ^5.0.0
  quiver: ^3.0.0
  rx_bloc_generator:
  rx_bloc_test: ^3.2.0
  test: any



dependency_overrides:
  animated_stream_list:
    git:
      url: https://github.com/nilsreichardt/animated-stream-list.git
      ref: migrate-null-safety
  appbar_textfield:
    git:
      url: https://github.com/StanevPrime/appbar_textfield.git
      ref: null-safety

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
     - assets/
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
