<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495639736415-vn2betpus91s1uroe1or9dj0utjupndv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495639736415-vn2betpus91s1uroe1or9dj0utjupndv</string>
	<key>API_KEY</key>
	<string>AIzaSyBlpTrBqfdgB8CGu64JWLU1s88Mjx9_KeM</string>
	<key>GCM_SENDER_ID</key>
	<string>495639736415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.primeholding.reminderspoc.stag</string>
	<key>PROJECT_ID</key>
	<string>reminders-app-staging-ee074</string>
	<key>STORAGE_BUCKET</key>
	<string>reminders-app-staging-ee074.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495639736415:ios:18188792b53e5f3ff46bea</string>
</dict>
</plist>