name: CI

on:
  push:
    paths:
      - ".github/workflows/ci.yaml"
      - "packages/**"
      - "examples/**"

  pull_request:
    paths:
      - ".github/workflows/ci.yaml"
      - "packages/**"
      - "examples/**"

jobs:
  examples:
    strategy:
      matrix:
        folder:
          [
            "examples/booking_app",
            "examples/counter",
            "examples/division",
            "examples/favorites_advanced/rx_bloc_favorites_advanced",
            "packages/rx_bloc_list",
          ]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1.4.0
        with:
          channel: "stable"
      - run: dart --version
      - run: flutter --version 
      - name: Install Dependencies
        working-directory: ${{ matrix.folder }}
        run: flutter pub get
      - name: Analyze
        working-directory: ${{ matrix.folder }}
        run: flutter analyze lib
      - name: Run tests
        working-directory: ${{ matrix.folder }}
        run: |
          if [ -d "test" ]; then
            flutter test --exclude-tags not-tests 
          fi
      - name: Check Code Coverage
        uses: ChicagoFlutter/lcov-cop@v1.0.0
        with:
          path: ${{ matrix.folder }}/coverage/lcov.info
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        directory: ${{ matrix.folder }}/coverage
  packages:
    strategy:
      matrix:
        folder:
          [
            "packages/rx_bloc",
            "packages/rx_bloc_test",
            "packages/rx_bloc_generator",
          ]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1.4.0
        with:
          channel: "stable"
      - run: dart --version
      - run: flutter --version 
      - name: Install Dependencies
        working-directory: ${{ matrix.folder }}
        run: dart pub get
      - name: Analyze
        working-directory: ${{ matrix.folder }}
        run: flutter analyze lib
      - name: Run tests
        working-directory: ${{ matrix.folder }}
        run: |
          if [ -d "test" ]; then
            dart test --exclude-tags not-tests
          fi

  build:
    needs: [examples, packages]
    runs-on: ubuntu-latest
    steps:
      - name: noop
        run: echo 'noop'
