name: CI

on:
  push:
    paths:
      - ".github/workflows/ci.yaml"
      - "packages/**"
      - "examples/**"

  pull_request:
    paths:
      - ".github/workflows/ci.yaml"
      - "packages/**"
      - "examples/**"

jobs:
  examples:
    strategy:
      matrix:
        folder:
          [
            "examples/counter",
            "examples/division",
            "examples/favorites_advanced/rx_bloc_favorites_advanced",
          ]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1.4.0
        with:
          channel: 'stable'
      - run: dart --version
      - run: flutter --version 
      - name: Install Dependencies
        working-directory: ${{ matrix.folder }}
        run: flutter pub get
      - name: Analyze
        working-directory: ${{ matrix.folder }}
        run: flutter analyze lib
      - name: Run tests
        working-directory: ${{ matrix.folder }}
        run: |
          if [ -d "test" ]; then
            flutter test
          fi
  packages:
    strategy:
      matrix:
        folder:
          [
            "packages/rx_bloc",
            "packages/rx_bloc_test",
            "packages/rx_bloc_generator",
          ]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1.4.0
        with:
          channel: 'stable'
      - run: dart --version
      - run: flutter --version 
      - name: Install Dependencies
        working-directory: ${{ matrix.folder }}
        run: dart pub get
      - name: Analyze
        working-directory: ${{ matrix.folder }}
        run: flutter analyze lib
      - name: Run tests
        working-directory: ${{ matrix.folder }}
        run: |
          if [ -d "test" ]; then
            dart test
          fi

  build:
    needs: [examples, packages]
    runs-on: ubuntu-latest
    steps:
      - name: noop
        run: echo 'noop'
