
# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-gradle

name: Package IntelliJ RxBloC Plugin

on:
  push:
    paths:
      - "extensions/intellij/intellij_generator_plugin"
      - ".github/workflows/package-plugin.yml"
      

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Gradle
      run: ./gradlew build --no-daemon
    - name: Upload Artifact     
      uses: actions/upload-artifact@v2
      with:
        name: rx_bloc_plugin
        path: build/distributions/*.zip
