name: 'Publish flutter_rx_bloc to pub.dev'

on:
  push:
    tags:
      - 'flutter_rx_bloc-v[0-9]+.[0-9]+.[0-9]+*'

# Publish using custom workflow
jobs:
  publish:
    name: 'Publish flutter_rx_bloc to pub.dev'
    environment: pub.dev
    permissions:
      id-token: write # This is required for authentication using OIDC
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v1.5.3
        with:
          channel: "stable"
      - uses: dart-lang/setup-dart@v1
      - name: Install dependencies
        working-directory: packages/flutter_rx_bloc
        run: dart pub get
      - name: Dart format
        working-directory: packages/flutter_rx_bloc
        run: dart format .
      - name: Publish
        working-directory: packages/flutter_rx_bloc
        run: dart pub publish --force
