name: "Test rx_bloc_cli project generation"

on:
  push:
    paths:
      - "packages/rx_bloc_cli/**"
      - ".github/workflows/test_rx_bloc_cli_project_generation.yaml"

jobs:
  rx_bloc_cli_project_generation:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project_type:
          [ "default", "all_disabled", "all_enabled", "without_showcase_features" ]
      fail-fast: true
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          #flutter-version: # Specify your flutter version here or leave to use the latest one
          channel: "stable"
          cache: true
          cache-key: flutter-:os:-:channel:-:version:-:arch:-:hash:-${{ hashFiles('**/pubspec.lock') }}
      - name: Setup environment
        working-directory: "packages/rx_bloc_cli"
        run: |
          dart pub global activate mason_cli
          dart pub get
          sh bin/compile_bundles.sh
      - name: Generate project
        working-directory: "packages/rx_bloc_cli/bin"
        run: |
          echo "Generating project type: ${{matrix.project_type}}"
          ./generate_test_project.sh ${{matrix.project_type}}
      - name: Run analyze
        working-directory: "packages/rx_bloc_cli/bin/example/testapp"
        run: |
          flutter analyze
      - name: Run tests
        working-directory: "packages/rx_bloc_cli/bin/example/testapp"
        run: |
          sh run_test_in_test_project_if_exist.sh
